<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

### **Exercise 1: Create a Jupyter Notebook**

Name: DataScienceEcosystem

### **Exercise 2: Create markdown cell with title of the notebook using H1 style heading.**

# Data Science Tools and Ecosystem

### **Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists.
* Comment on Data Science tools.

### **Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.

### **Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:

1. Pandas.
2. Matplotlib.
3. NumPy.
4. TensorFlow.

### **Exercise 6 - Create a markdown cell with a table of Data Science tools**

|Data Science Tools|
---------
|RStudio|
|Apache Spark|
|Jupyter|

### **Exercise 7 - Create a markdown cell introducing arithmetic expression examples.**

### Below are a few examples of evaluating arithmetic expressions in Python

### **Exercise 8 - Create a code cell to multiply and add numbers**

In [10]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### **Exercise 9 - Create a code cell to convert minutes to hours**

In [11]:
##This will convert 200 minutes to hours by diving by 60
Hour = 60
Minutes = 200
Minutes_to_Hour = (Minutes / Hour)
print(Minutes_to_Hour, "Hours")

3.3333333333333335 Hours

### **Exercise 10 - Insert a markdown cell to list Objectives**

##### Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

### **Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
Juan Sebastian Rodriguez